# Salary prediction

In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Read data

In [120]:
df_regression = pd.read_csv('../csv_file/regression.csv')

## Data Cleaning

In [121]:
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_Name         311 non-null    object
 1   EmpID                 311 non-null    int64
 2   EmpStatusID           302 non-null    float64
 3   Salary                311 non-null    int64
 4   Termd                 311 non-null    int64
 5   DOB                   311 non-null    object
 6   Gender                311 non-null    object
 7   MaritalDesc           307 non-null    object
 8   CitizenDesc           307 non-null    object
 9   DateofHire            311 non-null    object
 10  DateofTermination     104 non-null    object
 11  PerformanceScore      311 non-null    object
 12  EngagementSurvey      311 non-null    float64
 13  EmpSatisfaction       311 non-null    int64
 14  SpecialProjectsCount  311 non-null    int64
 15  DaysLateLast30        311 non-null    int64
 16  Absences              311 non-null    int64
dtypes: float64(2), int64(7), object(8)
memory usage: 41.4+ KB

In [123]:
df_regression['DateofHire'] = df_regression['DateofHire'].astype(np.datetime64)
df_regression['DateofTermination'].fillna('1/1/2022', inplace = True)
df_regression['DateofTermination'] = df_regression['DateofTermination'].astype(np.datetime64)
df_regression['Years of Tenure'] = df_regression['DateofTermination'].dt.year - df_regression['DateofHire'].dt.year
df_regression['Years of Tenure'] = df_regression['Years of Tenure'].astype(int)

In [66]:
df_regression['Years of Tenure'].mean()

6.961414790996785

In [67]:
df_regression.drop(['DateofHire', 'DateofTermination'], axis = 1, inplace = True)
df_regression.shape

(311, 16)

In [68]:
df_regression['DOB'] = df_regression['DOB'].astype(np.datetime64)
df_regression['Age'] = 2022 - df_regression['DOB'].dt.year
df_regression['Age'].median()

42.0

In [69]:
df_regression.drop(['DOB'], axis = 1, inplace = True)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_Name         311 non-null    object
 1   EmpID                 311 non-null    int64
 2   EmpStatusID           302 non-null    float64
 3   Salary                311 non-null    int64
 4   Termd                 311 non-null    int64
 5   Gender                311 non-null    object
 6   MaritalDesc           307 non-null    object
 7   CitizenDesc           307 non-null    object
 8   PerformanceScore      311 non-null    object
 9   EngagementSurvey      311 non-null    float64
 10  EmpSatisfaction       311 non-null    int64
 11  SpecialProjectsCount  311 non-null    int64
 12  DaysLateLast30        311 non-null    int64
 13  Absences              311 non-null    int64
 14  Years of Tenure       311 non-null    int32
 15  Age                   311 non-null    int64
dtypes: float64(2), int32(1), int64(8), object(5)
memory usage: 37.8+ KB

In [70]:
count = 0
for col in df_regression.columns:
    count += df_regression.shape[0] - df_regression[col].count() 
    
count

17

In [71]:
df_regression[df_regression.isnull().any(axis = 1)].shape

(17, 16)

In [72]:
df_regression['Absences'].astype(float).mean()

10.237942122186496

In [73]:
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_Name         311 non-null    object
 1   EmpID                 311 non-null    int64
 2   EmpStatusID           302 non-null    float64
 3   Salary                311 non-null    int64
 4   Termd                 311 non-null    int64
 5   Gender                311 non-null    object
 6   MaritalDesc           307 non-null    object
 7   CitizenDesc           307 non-null    object
 8   PerformanceScore      311 non-null    object
 9   EngagementSurvey      311 non-null    float64
 10  EmpSatisfaction       311 non-null    int64
 11  SpecialProjectsCount  311 non-null    int64
 12  DaysLateLast30        311 non-null    int64
 13  Absences              311 non-null    int64
 14  Years of Tenure       311 non-null    int32
 15  Age                   311 non-null    int64
dtypes: float64(2), int32(1), int64(8), object(5)
memory usage: 37.8+ KB

---

# Lab 2

In [74]:
df_regression['EmpStatusID'].fillna(df_regression['EmpStatusID'].mode()[0], inplace = True)
df_regression['EmpStatusID'].value_counts()

1.0    189
5.0     85
3.0     14
4.0     14
2.0      9
Name: EmpStatusID, dtype: int64

In [75]:
df_regression['MaritalDesc'].fillna(df_regression['MaritalDesc'].mode()[0], inplace = True)
df_regression['MaritalDesc'].value_counts()

Single       139
Married      123
Divorced      30
Separated     12
Widowed        7
Name: MaritalDesc, dtype: int64

In [76]:
df_regression['CitizenDesc'].fillna(df_regression['CitizenDesc'].mode()[0], inplace = True)
df_regression['CitizenDesc'].value_counts()

US Citizen             295
Eligible NonCitizen     12
Non-Citizen              4
Name: CitizenDesc, dtype: int64

In [77]:
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_Name         311 non-null    object
 1   EmpID                 311 non-null    int64
 2   EmpStatusID           311 non-null    float64
 3   Salary                311 non-null    int64
 4   Termd                 311 non-null    int64
 5   Gender                311 non-null    object
 6   MaritalDesc           311 non-null    object
 7   CitizenDesc           311 non-null    object
 8   PerformanceScore      311 non-null    object
 9   EngagementSurvey      311 non-null    float64
 10  EmpSatisfaction       311 non-null    int64
 11  SpecialProjectsCount  311 non-null    int64
 12  DaysLateLast30        311 non-null    int64
 13  Absences              311 non-null    int64
 14  Years of Tenure       311 non-null    int32
 15  Age                   311 non-null    int64
dtypes: float64(2), int32(1), int64(8), object(5)
memory usage: 37.8+ KB

In [78]:
df_regression.drop(['Employee_Name', 'EmpID'], axis = 1, inplace = True)

In [79]:
df_regression['EmpStatusID'] = df_regression['EmpStatusID'].astype(int)
cols = pd.get_dummies(df_regression['EmpStatusID'], prefix= 'EmpStatusID')
df_regression[cols.columns] = cols
df_regression.drop('EmpStatusID', axis = 1, inplace = True)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Salary                311 non-null    int64
 1   Termd                 311 non-null    int64
 2   Gender                311 non-null    object
 3   MaritalDesc           311 non-null    object
 4   CitizenDesc           311 non-null    object
 5   PerformanceScore      311 non-null    object
 6   EngagementSurvey      311 non-null    float64
 7   EmpSatisfaction       311 non-null    int64
 8   SpecialProjectsCount  311 non-null    int64
 9   DaysLateLast30        311 non-null    int64
 10  Absences              311 non-null    int64
 11  Years of Tenure       311 non-null    int32
 12  Age                   311 non-null    int64
 13  EmpStatusID_1         311 non-null    uint8
 14  EmpStatusID_2         311 non-null    uint8
 15  EmpStatusID_3         311 non-null    uint8
 16  EmpStatusID_4         311 non-null    uint8
 17  EmpStatusID_5         311 non-null    uint8
dtypes: float64(1), int32(1), int64(7), object(4), uint8(5)
memory usage: 32.0+ KB

In [80]:
cols = pd.get_dummies(df_regression['MaritalDesc'])
df_regression[cols.columns] = cols
df_regression.drop('MaritalDesc', axis = 1, inplace = True)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Salary                311 non-null    int64
 1   Termd                 311 non-null    int64
 2   Gender                311 non-null    object
 3   CitizenDesc           311 non-null    object
 4   PerformanceScore      311 non-null    object
 5   EngagementSurvey      311 non-null    float64
 6   EmpSatisfaction       311 non-null    int64
 7   SpecialProjectsCount  311 non-null    int64
 8   DaysLateLast30        311 non-null    int64
 9   Absences              311 non-null    int64
 10  Years of Tenure       311 non-null    int32
 11  Age                   311 non-null    int64
 12  EmpStatusID_1         311 non-null    uint8
 13  EmpStatusID_2         311 non-null    uint8
 14  EmpStatusID_3         311 non-null    uint8
 15  EmpStatusID_4         311 non-null    uint8
 16  EmpStatusID_5         311 non-null    uint8
 17  Divorced              311 non-null    uint8
 18  Married               311 non-null    uint8
 19  Separated             311 non-null    uint8
 20  Single                311 non-null    uint8
 21  Widowed               311 non-null    uint8
dtypes: float64(1), int32(1), int64(7), object(3), uint8(10)
memory usage: 31.1+ KB

In [81]:
cols = pd.get_dummies(df_regression['CitizenDesc'])
df_regression[cols.columns] = cols
df_regression.drop('CitizenDesc', axis = 1, inplace = True)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Salary                311 non-null    int64
 1   Termd                 311 non-null    int64
 2   Gender                311 non-null    object
 3   PerformanceScore      311 non-null    object
 4   EngagementSurvey      311 non-null    float64
 5   EmpSatisfaction       311 non-null    int64
 6   SpecialProjectsCount  311 non-null    int64
 7   DaysLateLast30        311 non-null    int64
 8   Absences              311 non-null    int64
 9   Years of Tenure       311 non-null    int32
 10  Age                   311 non-null    int64
 11  EmpStatusID_1         311 non-null    uint8
 12  EmpStatusID_2         311 non-null    uint8
 13  EmpStatusID_3         311 non-null    uint8
 14  EmpStatusID_4         311 non-null    uint8
 15  EmpStatusID_5         311 non-null    uint8
 16  Divorced              311 non-null    uint8
 17  Married               311 non-null    uint8
 18  Separated             311 non-null    uint8
 19  Single                311 non-null    uint8
 20  Widowed               311 non-null    uint8
 21  Eligible NonCitizen   311 non-null    uint8
 22  Non-Citizen           311 non-null    uint8
 23  US Citizen            311 non-null    uint8
dtypes: float64(1), int32(1), int64(7), object(2), uint8(13)
memory usage: 29.6+ KB

In [82]:
df_regression['PerformanceScore'].unique()

array(['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP'], dtype=object)

In [83]:
df_regression['PerformanceScore'].value_counts()

Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: PerformanceScore, dtype: int64

In [84]:
df_regression['PerformanceScore'] = df_regression['PerformanceScore'].map({'Exceeds':3, 'Fully Meets':2, 'Needs Improvement':1, 'PIP':0}).astype(int)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Salary                311 non-null    int64
 1   Termd                 311 non-null    int64
 2   Gender                311 non-null    object
 3   PerformanceScore      311 non-null    int32
 4   EngagementSurvey      311 non-null    float64
 5   EmpSatisfaction       311 non-null    int64
 6   SpecialProjectsCount  311 non-null    int64
 7   DaysLateLast30        311 non-null    int64
 8   Absences              311 non-null    int64
 9   Years of Tenure       311 non-null    int32
 10  Age                   311 non-null    int64
 11  EmpStatusID_1         311 non-null    uint8
 12  EmpStatusID_2         311 non-null    uint8
 13  EmpStatusID_3         311 non-null    uint8
 14  EmpStatusID_4         311 non-null    uint8
 15  EmpStatusID_5         311 non-null    uint8
 16  Divorced              311 non-null    uint8
 17  Married               311 non-null    uint8
 18  Separated             311 non-null    uint8
 19  Single                311 non-null    uint8
 20  Widowed               311 non-null    uint8
 21  Eligible NonCitizen   311 non-null    uint8
 22  Non-Citizen           311 non-null    uint8
 23  US Citizen            311 non-null    uint8
dtypes: float64(1), int32(2), int64(7), object(1), uint8(13)
memory usage: 28.4+ KB

In [85]:
df_regression['Gender'].value_counts()

F    176
M    135
Name: Gender, dtype: int64

In [86]:
df_regression['Gender'] = df_regression['Gender'].map({'F':1, 'M':0}).astype(int)
df_regression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Salary                311 non-null    int64
 1   Termd                 311 non-null    int64
 2   Gender                311 non-null    int32
 3   PerformanceScore      311 non-null    int32
 4   EngagementSurvey      311 non-null    float64
 5   EmpSatisfaction       311 non-null    int64
 6   SpecialProjectsCount  311 non-null    int64
 7   DaysLateLast30        311 non-null    int64
 8   Absences              311 non-null    int64
 9   Years of Tenure       311 non-null    int32
 10  Age                   311 non-null    int64
 11  EmpStatusID_1         311 non-null    uint8
 12  EmpStatusID_2         311 non-null    uint8
 13  EmpStatusID_3         311 non-null    uint8
 14  EmpStatusID_4         311 non-null    uint8
 15  EmpStatusID_5         311 non-null    uint8
 16  Divorced              311 non-null    uint8
 17  Married               311 non-null    uint8
 18  Separated             311 non-null    uint8
 19  Single                311 non-null    uint8
 20  Widowed               311 non-null    uint8
 21  Eligible NonCitizen   311 non-null    uint8
 22  Non-Citizen           311 non-null    uint8
 23  US Citizen            311 non-null    uint8
dtypes: float64(1), int32(3), int64(7), uint8(13)
memory usage: 27.2 KB

In [87]:
df_regression.shape

(311, 24)

## Data Preparation

In [88]:
df_regression.head()

,Salary,Termd,Gender,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Years of Tenure,...,EmpStatusID_4,EmpStatusID_5,Divorced,Married,Separated,Single,Widowed,Eligible NonCitizen,Non-Citizen,US Citizen
0,62506,0,0,3,4.60,5,0,0,1,11,...,0,0,0,0,0,1,0,0,0,1
1,104437,1,0,2,4.96,3,6,0,17,1,...,0,1,0,1,0,0,0,0,0,1
2,64955,1,1,2,3.02,3,0,0,3,1,...,0,1,0,1,0,0,0,0,0,1
3,64991,0,1,2,4.84,5,0,0,15,14,...,0,0,0,1,0,0,0,0,0,1
4,50825,1,1,2,5.00,4,0,0,2,5,...,0,1,1,0,0,0,0,0,0,1

### Train-test split

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df_regression.drop('Salary', axis = 1)
y = df_regression['Salary']

X_train_orig, X_test_orig, y_train, y_test = train_test_split(X, y, random_state = 0)


scaler = StandardScaler()
X_train = scaler.fit_transform(X_train_orig)
X_test = scaler.transform(X_test_orig)

In [90]:
X_train_df_regression = pd.DataFrame(X_train, columns= X.columns)
X_test_df_regression = pd.DataFrame(X_test, columns= X.columns)

X_train_df_regression.head()

,Termd,Gender,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Years of Tenure,Age,...,EmpStatusID_4,EmpStatusID_5,Divorced,Married,Separated,Single,Widowed,Eligible NonCitizen,Non-Citizen,US Citizen
0,1.344332,-1.153256,1.703128,1.138943,-0.929092,-0.525316,-0.343888,-0.511747,-1.201727,2.273953,...,-0.222597,1.574043,-0.314733,-0.807764,-0.188562,1.075829,-0.132164,-0.175993,-0.114208,0.211762
1,-0.743864,-1.153256,0.063339,-1.177928,1.214258,-0.525316,-0.343888,-1.033191,0.378422,0.263633,...,-0.222597,-0.635307,-0.314733,-0.807764,-0.188562,1.075829,-0.132164,-0.175993,-0.114208,0.211762
2,-0.743864,0.867110,0.063339,0.893771,0.142583,-0.525316,-0.343888,-1.033191,1.010482,-0.853212,...,-0.222597,-0.635307,-0.314733,-0.807764,-0.188562,1.075829,-0.132164,-0.175993,-0.114208,0.211762
3,-0.743864,0.867110,1.703128,0.280842,-0.929092,-0.525316,-0.343888,-1.554635,0.378422,1.045424,...,-0.222597,-0.635307,-0.314733,-0.807764,-0.188562,1.075829,-0.132164,-0.175993,-0.114208,0.211762
4,-0.743864,0.867110,0.063339,0.526014,-2.000767,1.922656,-0.343888,0.704957,2.274602,-0.964896,...,-0.222597,-0.635307,-0.314733,1.237986,-0.188562,-0.929516,-0.132164,-0.175993,-0.114208,0.211762

In [91]:
y_test.mean()

69205.03846153847

## Model Training

### Linear Regression

In [92]:
from sklearn.linear_model import LinearRegression

lreg = LinearRegression()
lreg.fit(X_train, y_train)
lreg.score(X_test, y_test)

0.2847958989579439

In [93]:
lreg.score(X_train, y_train)

0.30740909242672354

### Lasso Regression - hyperparameter tuning

In [94]:
from sklearn.linear_model import Lasso
for alpha in [1, 10, 100, 1000]:
    lasso = Lasso(random_state = 0, alpha = alpha, max_iter = 10000)
    lasso.fit(X_train, y_train)
    print('alpha: ', alpha)
    print(lasso.coef_)

alpha:  1
[ -183.82297514    78.02777328  1642.28334319  1307.84206705
  1372.07062015 12833.69624092  2399.00640441  2346.99344264
  1170.87938956  5317.90326076     0.           441.98112531
 -1211.2182427    882.93483714  -977.28978894 -1246.7522953
   460.20249514 -1579.66940581     0.          -430.62770442
   181.74007174   653.88688473  -765.07291268]
alpha:  10
[ -128.50926816    66.13142474  1619.03430655  1289.71052404
  1361.27729787 12823.78183448  2352.73708038  2341.62264531
  1167.02226476  5300.59145793     0.           434.94809438
 -1198.82913705   858.66423469 -1014.7302432  -1240.7627572
   446.16233004 -1571.57814256     0.          -423.08875582
     0.           524.50057383  -977.5133459 ]
alpha:  100
[   -0.             0.          1383.77515449  1100.75689627
  1254.04034445 12715.34223138  1908.02577722  2272.37656613
  1047.90666096  5150.11271655     0.           345.64192331
 -1086.54289899   764.4596627  -1067.52011299 -1174.71677284
   320.60473223 -1486.75816844     0.          -348.36196336
     0.           435.51037292  -943.80588061]
alpha:  1000
[   -0.            -0.           194.36215648     0.
   333.8573093  11917.80965425     0.          1453.91113806
     0.          3781.72285466     0.             0.
    -0.            19.99088197  -484.20187992  -252.98684485
     0.          -471.26183313     0.            -0.
     0.             0.          -320.42759737]

In [95]:
lasso = Lasso(alpha = 1000, random_state= 0)
lasso.fit(X_train, y_train)
print('train: ', lasso.score(X_train, y_train))
print('test: ', lasso.score(X_test, y_test))

train:  0.2854761956682975
test:  0.2988094307536576

### Polynomial Regression

In [96]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)
lreg = LinearRegression()

In [97]:
X_train_poly.shape

(233, 300)

In [98]:
lreg.fit(X_train_poly, y_train)
lreg.score(X_train_poly, y_train)

0.714378665438317

In [99]:
print('%f'%lreg.score(X_test_poly, y_test))

-29459376736403877326225408.000000

We usually use the LinearRegression as a base model to evaluate other regression models. You have already fit a LinearRegression model on this dataset in Lab 3. Which of the following models with all default hyperparameters and random_state = 0 overperform LinearRegression model? Only consider the train score.

In [101]:
df_regression.head()

,Salary,Termd,Gender,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Years of Tenure,...,EmpStatusID_4,EmpStatusID_5,Divorced,Married,Separated,Single,Widowed,Eligible NonCitizen,Non-Citizen,US Citizen
0,62506,0,0,3,4.60,5,0,0,1,11,...,0,0,0,0,0,1,0,0,0,1
1,104437,1,0,2,4.96,3,6,0,17,1,...,0,1,0,1,0,0,0,0,0,1
2,64955,1,1,2,3.02,3,0,0,3,1,...,0,1,0,1,0,0,0,0,0,1
3,64991,0,1,2,4.84,5,0,0,15,14,...,0,0,0,1,0,0,0,0,0,1
4,50825,1,1,2,5.00,4,0,0,2,5,...,0,1,1,0,0,0,0,0,0,1

### SGD Regression

In [102]:
#SGDRegressor(random_state = 0)
from sklearn.linear_model import SGDRegressor

sgd_reg = SGDRegressor(random_state= 0)
sgd_reg.fit(X_train, y_train)
print(sgd_reg.score(X_train, y_train))
print(sgd_reg.score(X_test, y_test))

0.30733867175425555
0.2835852135730744

### Ridge Regression

In [103]:
#Ridge(random_state = 0)
from sklearn.linear_model import Ridge

ridge = Ridge(random_state= 0)
ridge.fit(X_train, y_train)
print(ridge.score(X_train, y_train))

0.3074008790517977

### Lasso Regression

In [104]:
#Lasso(random_state = 0)
from sklearn.linear_model import Lasso

lasso = Lasso(random_state= 0)
lasso.fit(X_train, y_train)
print(lasso.score(X_train, y_train))

0.3074090511029981

C:\Users\Shiva\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 164342122.16352844, tolerance: 15811677.83887897
  model = cd_fast.enet_coordinate_descent(

### SVR Regression

In [105]:
#SVR()
from sklearn.svm import SVR

svr = SVR()
svr.fit(X_train, y_train)
print(svr.score(X_train, y_train))

-0.06274886053990736

In [108]:
from sklearn.svm import SVR

svr = SVR(C= 10000,gamma= 0.1)
svr.fit(X_train, y_train)
print(svr.score(X_train, y_train))
print(svr.score(X_test, y_test))

0.32015967662634204
0.18782922009677705

### Linear SVR model

In [106]:
from sklearn.svm import LinearSVR

lr_svr = LinearSVR()
lr_svr.fit(X_train, y_train)
print(lr_svr.score(X_train, y_train))

-6.960167957875847

### Decision Tree Regression

In [107]:
#DecisionTreeRegressor(max_depth = 2, random_state= 0)
from sklearn.tree import DecisionTreeRegressor
dr = DecisionTreeRegressor(max_depth = 2, random_state= 0)
dr.fit(X_train, y_train)
print(dr.score(X_train, y_train))

0.34821063947130926

Fit a SVR model with kernel rbf and the best parameters you found for the previous question. What is the test score of this model? Enter the answer with four digits after the decimal point.

In [109]:
from sklearn.tree import DecisionTreeRegressor
depth=[2,3,5,10,25]
dr_test =[]
for i in depth:

  dr = DecisionTreeRegressor(max_depth = i, random_state= 0)
  dr.fit(X_train, y_train)
  dr_test.append(dr.score(X_test, y_test))
dr_test

[0.13478076724355503,
 0.06942136923912434,
 -0.07134830964937078,
 -0.10764288127375421,
 -0.1505765759001052]

Which of the following is the best hyperparameter of a DecisionTreeRegression with random_state = 0.

)Fit a DecisionTreeRegression with random_state = 0 and the max_depth you have found in the previous question. What is the test score of this model?

In [110]:
from sklearn.tree import DecisionTreeRegressor
dr = DecisionTreeRegressor(max_depth = 2, random_state= 0)
dr.fit(X_train, y_train)
print(dr.score(X_train, y_train))

0.34821063947130926

For all the questions in this lab use cv = 5 and random_state = 0. Use a GridSearchCV to find the best hyperparameters of the SGDRegressor model. Which combination is the best parameters of the model

## Hyperparameter tuning - Grid Search

In [111]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model
clf = linear_model.SGDRegressor(random_state = 0)
clf.fit(X_train, y_train)
param_grid = {'eta0': [0.001, 0.01, 0.1],
              'max_iter': [1000, 5000, 10000]}
print("Parameter grid:\n{}".format(param_grid))
# grid_search = GridSearchCV(SVC(), param_grid, cv=5, return_train_score=True)
grid_search = GridSearchCV(clf,cv=5,
             param_grid={'eta0': [0.001, 0.01, 0.1],
                         'max_iter': [1000, 5000, 10000]},
                         return_train_score=True )
grid_search.fit(X_train, y_train)

Parameter grid:
{'eta0': [0.001, 0.01, 0.1], 'max_iter': [1000, 5000, 10000]}

C:\Users\Shiva\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1220: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "
C:\Users\Shiva\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1220: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "
C:\Users\Shiva\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1220: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

GridSearchCV(cv=5, estimator=SGDRegressor(random_state=0),
             param_grid={'eta0': [0.001, 0.01, 0.1],
                         'max_iter': [1000, 5000, 10000]},
             return_train_score=True)

In [112]:
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.5f}".format(grid_search.best_score_))

Best parameters: {'eta0': 0.001, 'max_iter': 1000}
Best cross-validation score: 0.16030

Use a GridSearchCV to find the best hyperparameter of the SVR model with kernel rbf. Which combination shows the best hyperparameters of this model? (Compare the best hyperparameters with what you have computed in Lab 4 - Part b)

In [113]:
svr = SVR(kernel = 'rbf')
svr.fit(X_train, y_train)

print("Parameter grid:\n{}".format(param_grid))
# grid_search = GridSearchCV(svr(), param_grid, cv=5, return_train_score=True)
grid_search = GridSearchCV(svr,cv=5,
             param_grid={'C':[0.1,1,10],
              'epsilon':[0.1,0.01,0.001,1],'gamma':[0.1,1,10]},
                         return_train_score=True )
grid_search.fit(X_train, y_train)

Parameter grid:
{'eta0': [0.001, 0.01, 0.1], 'max_iter': [1000, 5000, 10000]}

GridSearchCV(cv=5, estimator=SVR(),
             param_grid={'C': [0.1, 1, 10], 'epsilon': [0.1, 0.01, 0.001, 1],
                         'gamma': [0.1, 1, 10]},
             return_train_score=True)

In [114]:
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.5f}".format(grid_search.best_score_))

Best parameters: {'C': 10, 'epsilon': 1, 'gamma': 0.1}
Best cross-validation score: -0.08769

Use a GridSearchCV model to find the best hyperparameters of a DesicionTreeRegressor model with random_state = 0 on this dataset. Which of the following is the best hyperparameter for this model?

In [115]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor(random_state = 0)
tree.fit(X_train,y_train)
#pred_tree = tree.predict(X_test)

param_grid = {'max_leaf_nodes': [2,5,10,25,50]}

print("Parameter grid:\n{}".format(param_grid))
grid_search = GridSearchCV(tree, param_grid, cv=5,
                  return_train_score=True )
grid_search.fit(X_train, y_train)

Parameter grid:
{'max_leaf_nodes': [2, 5, 10, 25, 50]}

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_leaf_nodes': [2, 5, 10, 25, 50]},
             return_train_score=True)

In [116]:
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.5f}".format(grid_search.best_score_))

Best parameters: {'max_leaf_nodes': 2}
Best cross-validation score: 0.23199